<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <style>
        .content {
        position: absolute;
		text-align: center;
		top: 80px;
		margin-left: 540px;
        }





    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">FitU</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/userMain">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/user_course" data-bs-toggle="dropdown"
                       aria-expanded="false">Course</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/user_course">Course</a></li>
                        <li><a class="dropdown-item" href="/my_course">My course</a></li>
                    </ul>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                       aria-expanded="false">History</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/history_exercise">Exercise</a></li>
                        <li><a class="dropdown-item" href="/history_food">Food</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user_info">My info</a>
                </li>
            </ul>
        </div>

        <div class="navbar-right">

            <a href="/login" class="navbar-brand">Exit</a>
        </div>
    </div>
</nav>

<div class="content">
    <h4>Welcome {{username}}</h4>
    {%if hint_text %}
    <p style="color:blue; text-align:center;">{{hint_text}}</p>
    {% elif e_hint_text %}
    <div class="list">
        <div class="row g-3">
            <div class="col-md-5">
                <h6>Exercise</h6>
                <p style="color:blue">{{e_hint_text}}</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <h6>Food</h6>
                <table border="2px" class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Calories</th>
                        <th>Delete</th>
                    </tr>
                    {%for i in f_data %}

                    <tr>
                        <td>{{i[0]}}</td>
                        <td>{{i[2]}}</td>
                        <td>
                            <a href="/del_f_post/{{i[0]}}">
                                <button type="submit">Delete</button>
                            </a>
                        </td>
                    </tr>

                    {%endfor%}
                </table>
            </div>
        </div>

    </div>
    {% elif f_hint_text %}
    <div class="list">
        <div class="row g-3">
            <div class="col-md-5">
                <h6>Exercise</h6>
                <table border="2px" class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Minutes</th>
                        <th>Calories</th>
                        <th>Delete</th>
                    </tr>
                    {%for i in e_data %}

                    <tr>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
                        <td>{{i[3]}}</td>
                        <td>
                            <a href="/del_e_post/{{i[0]}}">
                                <button type="submit">Delete</button>
                            </a>
                        </td>
                    </tr>

                    {%endfor%}
                </table>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <h6>Food</h6>
                <p style="color:blue">{{f_hint_text}}</p>
            </div>
        </div>

    </div>
    {% else %}
    <div class="list">
        <div class="row g-3">
            <div class="col-md-5">
                <h6>Exercise</h6>
                <table border="2px" class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Minutes</th>
                        <th>Calories</th>
                        <th>Delete</th>
                    </tr>
                    {%for i in e_data %}

                    <tr>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
                        <td>{{i[3]}}</td>
                        <td>
                            <a href="/del_e_post/{{i[0]}}">
                                <button type="submit">Delete</button>
                            </a>
                        </td>
                    </tr>

                    {%endfor%}
                </table>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <h6>Food</h6>
                <table border="2px" class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Calories</th>
                        <th>Delete</th>
                    </tr>
                    {%for i in f_data %}

                    <tr>
                        <td>{{i[0]}}</td>
                        <td>{{i[2]}}</td>
                        <td>
                            <a href="/del_f_post/{{i[0]}}">
                                <button type="submit">Delete</button>
                            </a>
                        </td>
                    </tr>

                    {%endfor%}
                </table>
            </div>
        </div>

    </div>
    {%endif%}<br>



    <a href="/user_add_events" type="button" class="btn btn-primary btn-lg">Add events</a>


</div>
</body>
</html>